.txt() {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
}
.right-content-box{
    padding: 25px 45px;
    box-sizing: border-box;
    .tables-box{
        .info-box{
            margin-bottom: 15px;
            .title{
                color: #283e53;
                font-size: 16px;
            }
            .tips{
                color: #6c849c;
                font-size: 14px;
            }
        }
        .time-tables{
            background: #f3fafb;
            border-color: #d4e1e9;
            border: 1px solid #d4e1e9;
            .th-time{
                width: 11%;
            }
            th{
                height: 35px;
            }
            th,td{
                text-align: center;
                max-width: 170px;
            }
            td{
                height: 50px;
                padding: 10px 20px;
                box-sizing: border-box;
                position: relative;
                span{
                    display: block;
                    &.txt{
                        .txt();
                    }
                }
                &.dis{
                    background: #ececec;
                    span{
                        color: #6c849c;
                    }
                }
                &.cancel-order{
                    background: #84b3fa;
                }
                &.have-time{
                    background: #7ecef4;
                }
                &.order{
                    background: #0eb5f8;
                }
                .tips-box{
                    position: absolute;
                    padding: 20px;
                    box-sizing: border-box;
                    border-radius: 4px;
//                  top: 0;
                    z-index: 999;
                    text-align: left;
                    .tips-box-top{
                        .name{
                            color: #283e53;
                            margin-right: 15px;
                        }
                        .inps{
                            border: 1px solid #3598db;
                            color: #3598db;
                            box-shadow: none;
                        }
                    }
                    .tips-box-content{
                        .skillbar{
                            width: 160px;
                            height: 6px;
                            border-radius: 4px;
                            background: #eff4f7;
                            margin-right: 18px;
                            .skill{
                                width: 80%;
                                height: 100%;
                                border-radius: 4px;
                                background: #0eb5f8;
                            }
                        }
                    }
                }
            }
            .order-btn{
                color: #0082fe;
                &:hover{
                    text-decoration: underline;
                }
            }
            .nothing{
                width: 22px;
                height: 2px;
                background: #d4e1e9;
                display: inline-block;
            }
        }
        .btn-box{
            margin-top: 60px;
            text-align: center;
            .btns{
                margin: 0 10px;
            }
        }
    }
}
