<%- include('../templates/head') %>

<body>
	<%- include('../templates/nav') %>
	<div class="content">
		<%- include('../templates/study-left-side-list') %>
		<div class="content-right">
			<div class="links">
				<a href="index.html">首页</a> /
				<a href="###">在线学习</a> /
				<a href="###" class="at">专业书籍</a>
			</div>
			<div class="right-content-box whitebox book-content">
				<div class="table-box">
					<div class="console-box-list clearfix">
						<%
	        			var data = [
							{lbs:'书名',type:'text',txt:'请输入'},
							{lbs:'作者',type:'text',txt:'请输入',width:100},
							{lbs:'上传人',type:'text',txt:'请输入',width:100},
							{lbs:'上传时间',type:'time'},
							{lbs:'查询',type:'btn'}
							];
	        			%>
						<%- include('../templates/table_console',{data:data}) %>
						<div class="console-right pull-right">
							<button class="btns" onclick="window.location.href ='在线学习-上传书籍.html'">
								<span class="tips-num hide">12</span>
								上传书籍
							</button>
						</div>
					</div>
					<% var thead = ['设备名称','借用方式','申请人','状态','申请时间','操作']; %>
					<div class="book-container">
						<ul class="book-list clearfix">
						  <%for(var i=0;i<10;i++){%>
							<li>
							  <div class="book-container—top">
								<div class="pic">
								  <img src="../images/hj.png" alt="">
								</div>
								<div class="infos">
								  <label for="" class="select-input"><input type="checkbox"></label>
								  <a href="###" class="book-title">中国刑事科学技术大全.痕迹检验</a>
								  <dl class="dl-horizontal">
									<dt>作者：</dt>
									<dd>中国刑事科学技术协会</dd>
								  </dl>
								  <dl class="dl-horizontal">
									<dt>出版社：</dt>
									<dd>中国人民公安大学出版社</dd>
								  </dl>
								  <div class="book-infos">
									<span><i class="icon-rentou"></i>陈一新</span>
									<span>2019-01-12 12:30</span>
								  </div>
								</div>
							  </div>
							  <div class="book_container-bottom">
								<a href="###" data-toggle="modal" data-target="#yulan">预览</a>
								<!-- <a href="###" class="disable">预览</a> -->
								<a href="在线学习-上传书籍.html">编辑</a>
								<a href="###" data-toggle="modal" data-target="#remove">删除</a>
							  </div>
							</li>
						  <%}%>
						</ul>
          			</div>
					<div class="pag-box">
            			<div class="pl-delete"><input type="checkbox"><a href="###" class="pl-delete-btn" data-toggle="modal" data-target="#pl-remove">批量删除</a></div>
						<div class="pagging"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
  <%
    var data = [{
      el:'remove',
      title:'删除提示',
      text:'确定删除该书籍？'
    },{
      el:'pl-remove',
      title:'删除提示',
      text:'确定删除选中的书籍？'
    }]
  %>
  <%- include('../templates/modal-delete',{data:data}) %>
  <div class="modal fade yulan" id="yulan" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
		<div class="modal-header clearfix">
			<span>预览</span>
			<a href="javascript:void(0);" data-dismiss="modal" aria-hidden="true" class="closer"><img src="../images/close.png"></a>
		</div>
        <div class="modal-body">
            <img src="../images/hj.png" alt="">
        </div>
        <div class="modal-footer">
          <button type="button" class="f-btn" data-dismiss="modal">取消</button>
          <button type="button" class="f-btn f-btn-a">确认</button>
        </div>
      </div>
    </div>
  </div>
	<%- include('../templates/foot') %>
</body>

</html>