<%- include('../templates/head') %>
<body>
    <%- include('../templates/nav') %>
    <div class="content">
        <%- include('../templates/study-left-side-list') %>
        <div class="content-right integral-cont">
        	<div class="links">
        		<a href="index.html">首页</a> / <a href="###">系统管理</a> / <a href="###" class="at">积分管理</a>
        	</div>
			<div class="console-box whitebox">
				<div class="title-box">
					积分管理
				</div>
				<div class="console-right pull-right">
					<button class="btns" onclick="window.location.href ='系统管理-积分管理-积分规则设置.html'">
						<span class="tips-num hide">12</span>
						积分规则设置
					</button>
				</div>
			</div>
        	<div class="right-content-box whitebox">
        		<div class="table-box">
        			<div class="console-box-list">
        				<%
	        				var data = [
								{lbs:'单位名称',type:'drop',drop:['北京市公安局','广州公安局','上海公安局']},
								{lbs:'人员姓名',type:'text',txt:'请输入'},
								{lbs:'查询',type:'btn'}
							];
	        			%>
	        			<%- include('../templates/table_console',{data:data}) %>
        			</div>
        			<% var thead = ['排行','单位名称','人员姓名','总积分','操作']; %>
        			<table class="tables int-table">
        				<thead>
        					<tr>
								<% for(var i in thead){
								if(i == 0){ %>
								<th width="100"><%= thead[i] %></th>
								<% }else if(i == 1){ %>
								<th class="text-left"><%= thead[i] %></th>
								<% }else{ %>
								<th><%= thead[i] %></th>
								<% } %>
								<% } %>
        					</tr>
        				</thead>
        				<tbody>
        					<% for(var i=0;i<10;i++){ %>
        					<tr>
								<% if(i == 0){ %>
								<td><i class="grayCircle first"><%= i+1 %></i></td>
								<% }else if(i == 1){ %>
								<td><i class="grayCircle second"><%= i+1 %></i></td>
								<% }else if(i == 2){ %>
								<td><i class="grayCircle third"><%= i+1 %></i></td>
								<% }else{ %>
								<td><i class="grayCircle"><%= i+1 %></i></td>
								<% } %>
        						<td class="title text-left">上海公安局</td>
        						<td>陈易信</td>
        						<td>655</td>
        						<td class="operation">
        							<a href="系统管理-积分管理-查看明细.html" class="inblock ib-mid txtcol">查看明细</a>
        						</td>
        					</tr>
        					<% } %>
        				</tbody>
        			</table>
        			<div class="pag-box">
        				<div class="pagging"></div>
        			</div>
        		</div>
        	</div>
        </div>
    </div>
    <%- include('../templates/foot') %>
</body>
</html>