<div class="file-btn-box">
	<button class="btns ib-mid"><i class="iconfont icon-line-backup"></i>上传文件</button>
	<input type="file" class="hide" />
	<span class="file-txt inblock ib-mid">支持扩展名：rar. zip. doc. docx. pdf. jpg...</span>
</div>
<ul class="file-list">
	<li class="file-lis">
		现场痕迹文件.docx
		<a href="javascript:void(0);" class="del"><i class="iconfont icon-line-del"></i></a>
	</li>
</ul>