<!-- Modal 预览-->
<%for(var i in data){%>
<div class="modal fade modal-delete" id="<%= data[i].el%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header clearfix">
        <span><%= data[i].title%></span>
        <a href="javascript:void(0);" data-dismiss="modal" aria-hidden="true" class="closer"><img src="../images/close.png"></a>
      </div>
      <div class="modal-body">
          <%= data[i].text %>
      </div>
      <div class="modal-footer">
        <button type="button" class="f-btn" data-dismiss="modal">取消</button>
        <button type="button" class="f-btn f-btn-a">确认</button>
      </div>
    </div>
  </div>
</div>
<%}%>