<div class="header">
    <div class="logo">
        <a href="javascript:void(0)"><img src="../images/logo.png"></a>
    </div>
    <span class="white ml50">一个实现  资源共享·模型分享·刑事技术发展  的痕迹检验平台</span>
 </div>